@model EcoHost.Models.Fornecedor

@{
    ViewData["Title"] = "Details";
}

<h1>Informações do Fornecedor</h1>

<div>
    <hr />
    <div class="card">
        <div class="card-header">Fornecedor</div>
        <div class="card-body row">
            <div class="form-group col-md">
                <label>Nome</label>
                <input disabled class="form-control" value="@Html.DisplayFor(model => model.Nome)" />
            </div>
        </div>
    </div>
</div>
    <br />
        <div>
            <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.Id">Editar Fornecedor</a>
            <a class="btn btn-primary" asp-action="Principal">Voltar</a>
        </div>
